<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #in {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 999;
        background-color: blueviolet;
      }
      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <input id="in" />
    <div id="map"></div>
  </body>
  <!-- <script src="../static/map.js" defer></script>  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwcd17hVt4kEa00VW5DIv5BYItdB4BnZA&callback=initMap&v=weekly"
    async
    defer
  ></script>
  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 53.357, lng: -6.244 },
        zoom: 12,
      });
    }
  </script>
</html>
